body{
    margin: 0;
    margin-top: 3px;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #1e2024;
}

.container{
    width: 80%;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
 .card {
    width: 250px;
    background-color: rgb(61, 61, 61);
    border-radius: 9px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    color: rgb(207, 207, 207);
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
  }
  .card-body  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .approve-btn {
    padding: 8px 12px;
    background-color: #4672fe;;
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    font-size: 20px;
  }
  .approve-btn:hover {
    background-color: #3251b8;;
  }

  .user-name{
    font-size: 25px;
  }

@media screen and (max-width: 600px) {
    .container{
        width: 95%;
    }
    .card{
        width: 90%;
        height: 300px;
}
}   

.message{
  color:rgb(173, 173, 173);
  text-align: center;
  font-size: 50px;
  border: solid 1px rgb(173, 173, 173);
  border-radius: 20px;
  padding: 20px;
}

.container_message{
  display: flex;
  align-items: center;
  justify-content: center;

}

.fadeout{
  /* display: none; */
    animation: fadeaway 0.3s forwards;
    opacity: 0;
}
@keyframes fadeaway {
  from {opacity: 1;}
  to {opacity: 0;}
}
