body{
    margin: 0;
    margin-top: 3px;
    padding: 0;
    display: flex;
    justify-content: center;
        background-color: rgb(14, 0, 24);
}

.container{
    width: 80%;
    height: 100vh;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
 .card {
    width: 250px;
    background-color: rgb(10, 10, 59);
    border: 1px solid rgb(17, 17, 71);
    border-radius: 6px;
    padding: 15px;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
    color: rgb(173, 173, 173);
    margin-top: 10px;
  }
  .card-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-weight: bold;
  }
  .card-body p {
    margin: 5px 0;
  }
  .approve-btn {
    padding: 8px 12px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .approve-btn:hover {
    background-color: #218838;
  }


@media screen and (max-width: 600px) {
    .container{
        width: 95%;
    }
    .card{
        width: 90%;
        height: 200px;
}
}   

