body{
    padding: 0;
    margin: 0;
    background-color: #1e2024;
    color: white;
    font-family: "Cairo", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:"slnt" 0;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 18px;
    padding-right: 18px;
    height: 92vh;
    max-width: 400px;
}

.w-100{
    width: 100%;
}

.f-c-c-c{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

