button {
    all: unset;
}

button:focus {
outline: revert;
}
.purchases-container{
    width: 100%;
    height: 68vh;
}

.purchases{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 99%;
    width: 100%;
    overflow: scroll;

}
.width-100{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
}
.purchases-item{
    background-color: rgb(61, 61, 61);
    padding: 10px;
    width: 100%;
    border-radius: 20px;
}
.add-btn-box{
    display: flex;
    width: 100%;
    height: 5vh;
}

.purchases-item-title{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    border-bottom: solid 0.2px rgb(145, 145, 145);


}
.purchases-sum{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 15px;
    border-top: solid 0.1px rgb(145, 145, 145);
}

.item{
    display: flex;
    justify-content: space-between;
}

.item-box{
    padding: 0 20px 0 20px;
}

.entry{
    position: relative;
    animation: enter 0.2s, enter2 0.5s;
}

@keyframes enter{
    from{left: 5px;}
    to{left: 0;}
}
@keyframes enter2{
    from{opacity: 0.1;}
    to{opacity: 1;}
}


.bill-delete-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    width: 35px;
    height: 35px;
    background-color: rgb(85, 85, 85);
    margin-bottom: 5px;
}
@keyframes fadeZoomIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.delete-confirmation-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1e2024;
  width: 100%;
  height: 100%;
  animation: fadeZoomIn 0.3s ease-out;
}

.delete-confirmation-box{
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(61, 61, 61);
    width: 90%;
    height:  100px;
    border-radius: 15px;
    font-size: 20px;
}
.delete-confirmation-btns-box{
    width: 150px;
    display: flex;
    justify-content: space-between;
}
.delete-confirmation-box button{
    text-align: center;
    background-color: rgb(233, 62, 62);
    height:  35px;
    width: 60px;
    border-radius: 5px;
}

.gray{
  background-color: gray !important;
}