.title{
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight:800;
    font-size: 25px;
    padding: 20px 0 20px 0;
    
  }
.title span{
  animation: enter2 0.2s;

}

.title-icon{
  background-color: #3b3f42;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 5px;
}
.title-icon img{
  width:40px;
  animation: enter2 0.2s;

}

@keyframes enter2{
  from{opacity: 0.1;}
  to{opacity: 1;}
}